<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yw.gourmet">

    <permission
        android:name="com.yw.gourmet.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        tools:replace="android:name">

        <!-- 百度地图服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!-- 百度地图秘钥 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="KOEDnIF6HGcoyv9lZ2DGhykgWvB6w0di" />
        <!-- 主界面 -->
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />
        <!-- 个人中心 -->
        <activity
            android:name=".ui.personal.PersonalActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 登录 -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 设置界面 -->
        <activity
            android:name=".ui.set.SetActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 引导页 -->
        <activity
            android:name=".ui.flash.FlashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 修改个人信息 -->
        <activity
            android:name=".ui.changeDetail.ChangeDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 照片选择.剪裁 -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 普通分享 -->
        <activity
            android:name=".ui.share.common.CommonShareActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 日记分享 -->
        <activity
            android:name=".ui.share.diary.DiaryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 食谱分享 -->
        <activity
            android:name=".ui.share.menu.MenuActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 聊天 -->
        <activity
            android:name=".ui.chat.ChatActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 普通分享详情 -->
        <activity
            android:name=".ui.detail.common.CommonDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 日记详情 -->
        <activity
            android:name=".ui.detail.diary.DiaryDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 食谱详情 -->
        <activity
            android:name=".ui.detail.menu.MenuDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 微信分享 -->
        <activity
            android:name=".ui.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 攻略分享 -->
        <activity
            android:name=".ui.share.raiders.RaidersActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 攻略详情 -->
        <activity
            android:name=".ui.detail.raiders.RaidersDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 所有分享 -->
        <activity
            android:name=".ui.myShare.MyShareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 所有评论 -->
        <activity
            android:name=".ui.commentMy.CommentMyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 所有收藏 -->
        <activity
            android:name=".ui.collection.CollectionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 关于我们 -->
        <activity
            android:name=".ui.about.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 草稿箱 -->
        <activity
            android:name=".ui.draft.DraftActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 置顶设置 -->
        <activity
            android:name=".ui.setTop.SetTopActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 搜索 -->
        <activity
            android:name=".ui.search.keySearch.KeySearchActivity"
            android:screenOrientation="portrait" />
        <!-- 注册 -->
        <activity
            android:name=".ui.registered.RegisteredActivity"
            android:screenOrientation="portrait" />
        <!-- 推送服务 -->
        <service
            android:name=".service.MessageService"
            android:enabled="true"
            android:exported="true" />
        <!-- 极光广播 -->
        <receiver
            android:name=".push.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.yw.gourmet" />
            </intent-filter>
        </receiver>
        <!-- 更改密码 -->
        <activity
            android:name=".ui.passwordChange.PasswordChangeActivity"
            android:screenOrientation="portrait" />
        <!-- 更新APP -->
        <service
            android:name=".service.UpdateService"
            android:enabled="true"
            android:exported="true" />
        <!-- 被拒绝分享 -->
        <activity
            android:name=".ui.reject.RejectActivity"
            android:screenOrientation="portrait" />
        <!-- 引导页 -->
        <activity
            android:name=".ui.channel.ChannelActivity"
            android:screenOrientation="portrait" />
        <!--图片展示-->
        <activity android:name=".ui.imgShow.ImgShowActivity"
            android:launchMode="singleTask"
            android:theme="@style/ImgTheme"/>
        <!--7.0的apk安装-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yw.gourmet.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>